<%- include('../shared/header.ejs') %>
<div class="table-of-content">
  <h2>Table of Content</h2>
  <ol id="chapter-list">
  <% let chapter = 1 %>
  <% while(table[chapter]) { %>
	  <li class="chapter-list-item"><a href="/book/<%= chapter %>"><%= table[chapter][0] %></a>
	  <ol class="section-sublist" id="<%= chapter%>" style="display: none;">
    <% let section = 1 %>
    <% while(table[chapter][section]) { %>
	    <li><%= table[chapter][section] %></a></li>
	    <% section++
    } %>
  	</ol>
	  </li>
	  <% chapter++
  } %>
  </ol>
</div>
<%- include('../shared/footer.ejs') %>